@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

body {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.8);
    transition: all ease-in 0.3s;
}

.dark-mode body {
    background-color: #272a2c;
    color: #ebf4f1;
    transition: all ease-in 0.3s;
}

.sepia-mode body {
    background-color: #f1e7d0;
    color: #433422;
    transition: all ease-in 0.3s;
}

.router-link-active,
.router-link-exact-active {
    color: var(--p-menubar-item-focus-color);
    background: var(--p-menubar-item-focus-background);
    border-radius: 0.3rem;
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition: all 0.2s;
}
.slide-left-enter-from {
  opacity: 0;
  transform: translate(50px, 0);
}
.slide-left-leave-to {
  opacity: 0;
  transform: translate(-50px, 0);
}
.slide-right-enter-from {
  opacity: 0;
  transform: translate(-50px, 0);
}
.slide-right-leave-to {
  opacity: 0;
  transform: translate(50px, 0);
}